.SuggestPeople
    font-size 120%

    &__item
        display block
        padding 10px
        text-decoration none
        color initial
        transition background-color .1s ease-out

        &:hover
            background-color rgba(34,34,34,.05)

    &__description
        color rgba(0,0,0,.54)
        font-size 90%
