.Search

    &__filter
        padding 10px
        background-color #f6f7f7

    &__subfilter
        display flex
        justify-content space-between
        align-items baseline
        margin 10px 0

    &__results
        margin-top 30px
