.People
    position relative
    padding-left 150px // avatar
    padding-top 20px

    &__avatar
        display flex
        align-items center
        justify-content center
        position absolute
        left 0
        top 0
        width 140px

    &__title
        font-size 160%
        font-weight bold

    &__subtitle
        padding 10px 0 15px
        border-bottom 1px solid rgba(0,0,0,.1)

    &__table
        width 100%
        margin-top 20px

        &-row
        &-key
        &-value
            display flex
            align-items center

        &-row
            line-height 2em

        &-key
            width 30%
            opacity .5
            padding-right 10px
            justify-content flex-end


    &__close
        position absolute
        right -10px
        top 12px
